*,
*::after,
*::before{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    overflow-x: hidden;
    
}




.form-container.active{
    scale: 1;
    opacity: 1;
    display: flex;
}



:root {
    --colorDark1 : #112D4E;
    --colorDark2 : #3F72AF;
    --colorLightt1 : #DBE2EF;
    --colorLight2 : #F9F7F7;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    color: var(--colorLight2);
    /* background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%); */
    /* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); */
    /* background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%); */
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(38,51,97,1) 0%, rgba(65,143,222,1) 79% );
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-family: 'Merriweather', serif;
}

.tab-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 2rem;
    
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.tab.current-tab{
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
}

.weather-container{
    margin-block: 4rem;
}

.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;
    
}

.grant-location-container{
   display: none;
}

.grant-location-container.active{
    display: flex;
 }



 .grant-location-container img{
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

 .grant-location-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 300;
    font-family: 'Merriweather', serif;
 }

.grant-location-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}

.loading-container{
    display: none;
}

.loading-container.active{
    display: flex;
}

.loading-container p{
    text-transform: uppercase;
}


.user-info-container{
    display: none;
}

.user-info-container.active{
    display: flex;
}

.error-display{
  display: none;
}

.error-display.active{
    display: flex;
}

.error-display img{
    width: 90%;
    max-width: 550px;
    height: 90%;
}

.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;

}

.user-info-container p{
    font-size: 1.5rem;
    font-weight: 200;
}

.user-info-container img{
    width: 90px;
    height: 90px;
}

.name p{
    font-size: 2rem;
}

.name img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.user-info-container p[data-temp]{
    font-size: 2.75rem;
    font-weight: 700;
}

.parameter-container{
    width: 90%;
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.parameter{
    width: 30%;
    max-width: 200px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    align-items: center;
}

.parameter img{
    width: 50px;
    height: 50px;
}

.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
}

.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.form-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;
}

.form-container.active{
    display: flex;
}


/* 80px for search button */
.form-container input{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219,226,239,0.5);
    border-radius: 10px;
}

.form-container input::placeholder{
    color: rgba(255,255,255,0.7);
}



.form-container .btn{
  padding: unset;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  align-self: center;
  margin-bottom: 1px;
}
